<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>测试项目</title>
		<script type="text/javascript" src="https://g.alicdn.com/mtb/??lib-flexible/0.3.2/flexible_css.js,lib-flexible/0.3.2/flexible.js"></script>
		<link rel="stylesheet" type="text/css" href="baoliao.css"/>
		<link rel="stylesheet" type="text/css" href="comit.scss"/>
		
	</head>

	<body>
		<div id="app"></div>
		<!-- 商品展示 -->
		<div class="baol_dec_shop" style="padding-top: 0.58rem;">
			<div class="shop_pic font0">
				<img src="https://img.alicdn.com/imgextra/i3/766531019/TB2o6ZMlrtlpuFjSspoXXbcDpXa_!!766531019.png_400x400q80s150.jpg" class="w100">
			</div>
			<div class="baol_dec_shop_detil">
				<p class="time fs11">Asos官网 | 04月13日 23:40</p>
				<p class="title fs17">ASOS 女士破洞牛仔裤
					<!-- 已过期 -->

					<span class="out_time fs14">已过期</span>

				</p>
				<p class="price fs17">294.89元 包邮包税</p>
			</div>
		</div>
		<!-- 已过期，设置提醒 -->

		<div class="baol_dec_out_time">
			<p class="p1 fs14">很抱歉，本资讯已过期</p>
			<p class="p2 fs11">由于过于火爆，优惠信息已经过期啦 ，下次请赶早哦</p>
		</div>

		<div class="baol_dec_container">
			<div class="baol_dec_container_edit" style="font-size: 24rem / $base;">
				<p>ASOS 女士破洞牛仔裤，近期好价，喜欢可以入手~！</p>
				<p><br></p>
				<p>Asos官网在售，通过海狐下单到手294.89元包邮包税。实际下单价格根据汇率波动可能会有所浮动，以海狐在售价格为准。</p>
			</div>

			<!-- 淘口令复制区域 -->

			<!-- 未点赞 -->
			<div class="like JS_likePriceNub" data-itemid="55550" data-price="6">
				<div class="picture font0">
					<img src="https://img.alicdn.com/imgextra/i2/2296013456/TB2QoVfaV95V1Bjy0FeXXXyfpXa_!!2296013456.png" class="w100">
				</div>
				<p class="fs11 word">觉得值，就点个赞嘛！</p>
			</div>

		</div>

		<!--评论-->
		<div class="cutline"></div>
		<!-- 热门评论 -->
		<div id="hotCommentList">
			<p class="comment_title fs17">热门评论<span class="fs14">20</span></p>
			<div class="no_comment hide fs12">
				<p>小编等着您的评论哦~</p>
			</div>
			<ul class="comment_list">
				<li class="comment_list_li">
					<div class="header-img">
						<img src="https://img.alicdn.com/bao/uploaded/i2/1804051140/TB2lRM5oeJ8puFjy1XbXXagqVXa_!!1804051140.jpg_90x90.jpg" />
					</div>
					<div class="cmt-main">
						<div class="title">
							<span class="nickname fs14">八角街<img src="https://img.alicdn.com/imgextra/i1/2296013456/TB2_.ZjrNtmpuFjSZFqXXbHFpXa_!!2296013456.png" alt="" /></span>
							<span class="praise fs11"><img src="https://img.alicdn.com/imgextra/i2/2296013456/TB2nz4Ko9FjpuFjSszhXXaBuVXa_!!2296013456.png" alt="已赞" />9999万</span>
						</div>
						<ul class="cont">
							<li class="cmt_last fs14">
								好不错，有希望了。苟利国家生死以。咦有快递，我去开下门，一会再来评论。哈哈哈...好不错，有希望了。苟利国家生死以。咦有快递，我去开下门，一会再来评论。
							</li>
						</ul>
						<p class="time-reply">
							<span class="time fs11">45秒前</span>
						</p>
					</div>
				</li>
				<li class="comment_list_li">
					<div class="header-img">
						<img src="https://img.alicdn.com/bao/uploaded/i2/1804051140/TB2lRM5oeJ8puFjy1XbXXagqVXa_!!1804051140.jpg_90x90.jpg" />
					</div>
					<div class="cmt-main">
						<div class="title">
							<span class="nickname fs14">八角街</span>
							<span class="praise fs11"><img src="https://img.alicdn.com/imgextra/i1/2296013456/TB2norDrJ4opuFjSZFLXXX8mXXa_!!2296013456.png" alt="未赞"/>9999万</span>
						</div>
						<ul class="cont">
							<li class="fs12">
								zero：好不错，有希望了。苟利国家生死以。咦有快递，我去开下门，一会再来评论。哈哈哈...好不错，有希望了。苟利国家生死以。咦有快递，我去开下门，一会再来评论。
							</li>
							<li class="cmt_last fs14">
								好不错，有希望了。苟利国家生死以。咦有快递，我去开下门，一会再来评论。哈哈哈...好不错，有希望了。苟利国家生死以。咦有快递，我去开下门，一会再来评论。
							</li>
						</ul>
						<p class="time-reply">
							<span class="time fs11">45秒前</span>
						</p>
					</div>
				</li>
				<li class="comment_list_li">
					<div class="header-img">
						<img src="https://img.alicdn.com/bao/uploaded/i2/1804051140/TB2lRM5oeJ8puFjy1XbXXagqVXa_!!1804051140.jpg_90x90.jpg" />
					</div>
					<div class="cmt-main">
						<div class="title">
							<span class="nickname fs14">八角街</span>
							<span class="praise fs11"><img src="https://img.alicdn.com/imgextra/i1/2296013456/TB2norDrJ4opuFjSZFLXXX8mXXa_!!2296013456.png" alt="未赞"/>9999万</span>
						</div>
						<ul class="cont fs12">
							<li class="cmt_del">
								该评论已被删除
							</li>
							<li class="cmt_showmore">
								显示隐藏评论
							</li>
							<li class="-txt_center">
								快手小毛毛：好不错，有希望了。苟利国家生死以。咦有快递，我去开下门，一会再来评论。哈哈哈...好不错，有希望了。苟利国家生死以。咦有快递，我去开下门，一会再来评论。
							</li>
							<li class="cmt_last fs14">
								好不错，有希望了。苟利国家生死以。咦有快递，我去开下门，一会再来评论。哈哈哈...好不错，有希望了。苟利国家生死以。咦有快递，我去开下门，一会再来评论。
							</li>
						</ul>
						<p class="time-reply">
							<span class="time fs11">45秒前</span>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="cutline"></div>
		<div id="CommentList">
			<p class="comment_title fs17">评论<span class="fs14">21</span></p>
			<div class="no_comment -hide fs14">
				<p>小编等着您的评论哦~</p>
			</div>
			<!--加载更多评论 -->
			<p class="load_more fs14">没有更多评论了</p>
			<p class="load_more_loading"><img src="https://img.alicdn.com/imgextra/i4/2296013456/TB2k_HsjKJ8puFjy1XbXXagqVXa_!!2296013456.gif" alt=""></p>
		</div>

		<!--//评论-->
		
		
		
		<!--评论列表-->
		<script type="text/html" id="commentListTemplate">
			{{each commentList as comment i}}
			<li class="comment_list_li J_coment_li_{{comment.commentId}}" data-comment-id="{{comment.commentId}}">
				<div class="header-img">
					<img src="{{comment.imageUrl}}" />
				</div>
				<div class="cmt-main">
					<div class="title">
						<span class="nickname fs14">{{comment.userNick}} {{if comment.flagUrl}}<img src="https://img.alicdn.com/imgextra/i1/2296013456/TB2_.ZjrNtmpuFjSZFqXXbHFpXa_!!2296013456.png" alt="+v" />{{/if}}</span>
						<span class="praise tf8-log fs11" log-position="自定义按钮" log-bussiness-type="点赞" log-content="291_{{comment.commentId}}" log-bm-category="{{if comment.isPraised == 'YES'}}取消点赞{{ else if comment.isPraised == 'NO'}}点赞{{/if}}" data-comment-id="{{comment.commentId}}" data-praised="{{comment.isPraised}}" data-count="{{comment.praiseCount}}">
                        {{if comment.isPraised == 'YES'}}<img src="https://img.alicdn.com/imgextra/i2/2296013456/TB2nz4Ko9FjpuFjSszhXXaBuVXa_!!2296013456.png" alt="已赞"/>
                        {{ else if comment.isPraised == 'NO'}}<img src="https://img.alicdn.com/imgextra/i1/2296013456/TB2norDrJ4opuFjSZFLXXX8mXXa_!!2296013456.png" alt="未赞"/>
                        {{/if}} <span class="J_praisedCount">{{comment.praiseCount | checkNum}}</span>
						</span>
					</div>

					{{if comment.subCommentList && comment.subCommentList.length > 0}}
					<ul class="cont J_subCommentList_{{comment.commentId}} fs12">
						{{each comment.subCommentList as sub k}} {{if (comment.subCommentList.length-1) == k}} {{if comment.hasHiddenComment && comment.hasHiddenComment == 'YES'}}
						<li class="cmt_showmore J_showMoreComment{{comment.commentId}} tf8-log" log-position="自定义按钮" log-bussiness-type="展开隐藏楼层" log-content="291_{{comment.commentId}}" data-comment-id="{{comment.commentId}}">
							显示隐藏评论
						</li>
						{{/if}} {{/if}} {{if sub.isDelete == 'YES'}}
						<li class="cmt_del">
							该评论已被删除
						</li>
						{{else}}
						<li>
							{{#sub.comment | emojiFormat: sub.emojiStr}}
						</li>
						{{/if}} {{/each}}
					</ul>
					{{/if}}

					<ul class="cont fs14" data-comment-id="{{comment.commentId}}">
						<li class="cmt_last_two">{{#comment.comment | emojiFormat: comment.emojiStr}}</li>
					</ul>
					<p class="time-reply">
						<span class="time fs11">{{comment.commentTime | dateFormat: hostTime}}</span>
					</p>
				</div>
			</li>
			{{/each}}
		</script>

		<!--展开评论-->
		<script type="text/html" id="subCommentListTemplate">
			{{each subCommentList as sub}} {{if sub.isDelete == 'YES'}}
			<li class="cmt_del">
				该评论已被删除
			</li>
			{{else if sub.isDelete == 'NO'}}
			<li>
				{{#sub.comment | emojiFormat: sub.emojiStr}}
			</li>
			{{/if}} {{/each}}
		</script>

	</body>

</html>