// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// A simple example
//
// $color-text: #aaa;
// $color-text-muted: #777;
//

$width-gap: 0;
$width-gap-double: 0;
$width-gap-half: 0;
