// <div class="modal" id="tipModal">
//     <div class="modal-close"></div>
//     <div class="modal-header">
//         <h1 class="modal-title">标题</h1>
//     </div>
//     <div class="modal-body">
//         <p>内容</p>
//     </div>
//     <div class="modal-footer">
//         <button>按钮</button>
//     </div>
// </div>

// .modal {
// 	position: fixed;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	z-index: 1001;
// 	display: none;
// 	overflow: hidden;
// 	-webkit-overflow-scrolling: touch;
// }

// .modal-dialog {
// 	width: px2rem(540);
// 	margin-top:50%;
// 	margin-left:50%;
// 	transform:translate(-50%,-50%);
// 	position: relative;
// }

// .modal-content {
// 	padding: px2rem(32);
// 	border-radius: px2rem(6);
// 	background-color: #fff;
// 	position: relative;
// }

.modal {
	z-index: 1001;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: px2rem(572);
	max-height: 100%;
	padding: px2rem(32);
	border-radius: px2rem(6);
	background-color: #fff;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.modal-close {
	z-index: 1002;
	position: absolute;
	top: 0;
	right: 0;
	width: px2rem(80);
	height: px2rem(80);
	background: url('https://img.alicdn.com/imgextra/i2/2296013456/TB24EYqc9FjpuFjSszhXXaBuVXa_!!2296013456.png') no-repeat center;
    background-size: px2rem(32 32);
}

.modal-header {
	line-height: 1;
	text-align: center;
}

.modal-title {
	line-height: 1;
    font-weight: bold;
}

.modal-body {
	position: relative;
    line-height: 1.6;
    text-align: center;
}

.modal-footer {
	text-align: center;
	overflow: hidden;
}

#backdrop {
	z-index: 1000;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
}